doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hussain's Dance Academy
        block scripts
        block style
    
    body 
        block navbar 
            nav#navbar 
                ul  
                    div#logo 
                        img(src="../static/img/logo.png")
                        | HDA
                    li #[a(href='/') Home]
                    li #[a(href='/') About]
                    li #[a(href='/') Services]
                    li #[a(href='/') Class Info]
                    li #[a(href='/contact') Contact Us]
        
        block content 
        
        footer#footer
            | Copyright© 2022 HussainDanceAcademy.com  | All Rights Reserved