extends base.pug

block scripts 
    script(src="../static/index.js")

block style 
    style 
        include ../static/style.css
        include ../static/styleContact.css

block content
    div.container
        h1 Contact Form
        form(action = '/contact' method = 'POST' class = 'myForm')
            input(type="text" name = 'name' class = 'details'  placeholder='Enter your name')
            input(type="phone" name = 'phone' class = 'details'  placeholder='Enter your phone no')
            input(type="email" name = 'email' class = 'details'  placeholder='Enter your email id')
            input(type="text" name = 'address' class = 'details'  placeholder='Enter your address')
            input(type="text" name = 'query' class = 'details'  placeholder='Enter your queries')
            button(class = 'btn')
                |Submit